@define-color text #cdd6f4;          /* text */
@define-color selected #b4befe;      /* lavender */
@define-color hover alpha(@selected, .6);
@define-color background-sec #313244; /* surface0 */
@define-color background-alt #6c7086; /* overlay0 */
@define-color urgent #f38ba8;        /* red */
@define-color background #1e1e2e;    /* base */
@define-color foreground #cdd6f4;    /* text */

* {
  color: @text;
  font-size: 18px;
  font-family: "Google Sans Flex", "JetBrainsMono Nerd Font Propo";
  transition: 200ms;
}

.notification-row {
  outline: none;
  margin: 0;
  padding: 0px;
}

.floating-notifications.background .notification-row .notification-background {
  background: alpha(@background, .7);
  box-shadow: 0 0 8px 0 rgba(0,0,0,.6);
  border: 1px solid #45475a; /* surface1 */
  border-radius: 12px;
  margin: 16px;
  padding: 0;
}

.floating-notifications.background .notification-row .notification-background .notification {
  padding: 6px;
  border-radius: 12px;
  color: @text;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
  border: 2px solid @urgent;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
  margin: 8px;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action {
  border-radius: 8px;
  background-color: @background-alt ;
  margin: 6px;
  border: 1px solid transparent;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  background-color: @hover;
  border: 1px solid @selected;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  background-color: @selected;
  color: @background;
}

.image {
  margin: 4px 12px 4px 0px;
  border-radius: 16px;
}

.summary {
  font-weight: 800;
  font-size: 16px;
}

.body {
  font-size: 14px
}

.floating-notifications.background .notification-row .notification-background .close-button {
  margin: 6px;
  padding: 2px;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid transparent;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
  background-color: @urgent;
  color: @background; /* Garante contraste no hover do fechar */
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
  background-color: @urgent;
  color: @background;
}

.notification.critical progress {
  background-color: @selected;
}

.notification.low progress,
.notification.normal progress {
  background-color: @selected;
}